{% extends 'common_patient.html' %}

{% block common_patient %}

   <div class="patient">
           <div class="container">
				  <div class="row min-height">
					    <div class="col-sm-12">
                             
                            <div class="row main_boder">
                                <div class="col-sm-7">
                                     <h3 class="appointmnet_list">Buscar citas</h3>
                                </div>
                                <div class="col-sm-5">
                                      <form class="form-inline my-2 my-lg-0" method="GET" action="">
                                          <input class="form-control mr-sm-2 buscar-box" type="text" name="q" placeholder="Buscar por nombre de medico" placeholder="Search With Name" aria-label="Search">
                                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Buscar</button>
                                       </form>
                                </div>
 
                            </div>
                             
                             <table class="table">
                                 <thead>
                                  <tr>
                                    <th scope="col">Medico</th>
                                    <th scope="col">Foto</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Hora</th>
                                  </tr>
                                </thead>
                                <tbody>{% for appoint in query %}
                                  {% if appoint.appointment_with == '' %}
                                  <tr>
                                    <th scope="row">{{appoint.user}}</th>
                                    <td><img class="avatar" src="http://127.0.0.1:8000/static/css/image/doctor.png"></td>
                                    <td>{{appoint.date}}</td>
                                    <td> 
                                      <span class="inline">{{appoint.time_start}} - {{appoint.time_end}} 
                                          {{appoint.room_number}}<a href='{% url "appointment_update" id=appoint.id %}'> <button class="btn btn-primary" type="submit">Agendar</button></a></span> 
                                    </td>
                                   {% endif %}
                                  </tr>{% endfor %}
                                </tbody>
                            </table>  
	                                 
					    </div>
	     
				  </div>
			</div>
      </div>

      <div class="footer">
           <div class="container">
          <div class="row">
              <div class="col-sm-12">
                             Julian Stiven Higuera Hurtado                    
              </div>
       
          </div>
      </div>
      </div>



    
{% endblock common_patient %}



