{% extends 'common.html' %}

{% block body%}
<div class="register_doctor">
				<div class="container height">
				  <div class="row">
				    <div class="col-sm-6 offset-md-3">

                            <h2 class="Login">Registrarse como medico</h2><br>
				    		<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon1"><i class="far fa-user"></i></span>
							  </div>
							  <input type="text" class="form-control" placeholder="Nombre de usuario" aria-label="Username" aria-describedby="basic-addon1">
							</div>

							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon1"><i class="fas fa-file-signature"></i></span>
							  </div>
							  <input type="text" class="form-control" placeholder="Nombre completo" aria-label="Name" aria-describedby="basic-addon1">
							</div>

							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon1"><i class="fas fa-hotel"></i></span>
							  </div>
							  <input type="text" class="form-control" placeholder="Lugar" aria-label="Room" aria-describedby="basic-addon1">
							</div>

							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon1">*</span>
							  </div>
							  <input type="password" class="form-control" placeholder="Clave" aria-label="pass" aria-describedby="basic-addon1">
							  <input type="password" class="form-control" placeholder="Repita la clave" aria-label="repeat_pass" aria-describedby="basic-addon1">
							</div>

							<div class="input-group mb-3">
								  <input type="submit" class="form-control submit" placeholder="submit" aria-label="submit" aria-describedby="basic-addon1">
							</div>
							<a class="regi" href="http://127.0.0.1:8000">Volver a inicio de sesion</a>	      
				    </div>
				  </div>
				</div>
</div>			
{%endblock%}